@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: vazir;
  src: url(/public/fonts/Vazir.ttf);
}
.input-text {
  @apply border py-2 px-5 outline-0 w-full focus:border-blue-400  my-2;
}
.input-error {
  @apply border-red-500  placeholder:text-red-500;
}
.btn-add {
  @apply border py-2 px-8 font-bold  focus:border-blue-400  my-2 bg-blue-600 hover:bg-blue-800 transition-all text-white;
}
.btn-close {
  @apply hover:cursor-pointer text-red-600 text-2xl hover:scale-105 transition-all hover:font-bold;
}
@keyframes fadein {
  from {
    margin-top: -800px;
    opacity: 40%;
    transform: rotate(90deg) scale(1.4);
    
  }
  to {
    margin-top: 0;
  }
}
